.list-section {
  padding: 28em 20em 108em;
}
.list-section__nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  padding-bottom: 12em;
  box-sizing: border-box;
  background-color: #18191E;
}
.list-section__nav::after {
  content: "";
  position: absolute;
  bottom: 11em;
  width: 100%;
  height: 1px;
  background-color: #38393D;
  z-index: -1;
}
.list-section__nav button {
  position: relative;
  min-width: 77rem;
  line-height: 36rem;
  margin-right: 4rem;
  font-size: 16em;
  color: #6B6C70;
}
.list-section__nav button:last-child {
  margin-right: 0;
}
.list-section__nav button.active {
  color: #FF3E00;
}
.list-section__nav button.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 100%;
  background-color: #FF3E00;
}
.list-item {
  position: relative;
  margin-top: 12em;
  text-align: left;
  background-color: #2C2D32;
}
.list-item:first-child {
  margin-top: 0;
}
.list-item__tit-wrap {
  padding: 16em;
  border-bottom: 1px solid #38393D;
}
.list-item__tit {
  display: block;
  margin-right: 16em;
}
.list-item__tit h3 {
  font-size: 16em;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.comment-priview {
  padding: 22em 16em 17em;
  border-bottom: 1px solid #38393D;
}
.comment-priview__name {
  margin-right: 8rem;
  font-family: "Source Code Pro";
  font-size: 12em;
  color: #FF3E00;
  text-decoration: underline;
}
.comment-priview__time {
  font-family: "Source Code Pro";
  font-size: 12em;
  color: #838489;
}
.comment-priview__desc {
  margin-top: 10rem;
  font-family: "Roboto";
  font-size: 12em;
  color: #838489;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.list-item__commnet {
  display: none;
}
.cont-aside {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 16em;
  height: 32em;
}
.cont-aside__link {
  padding-left: 23rem;
  font-family: "Source Code Pro";
  font-size: 10em;
  color: #838489;
  background: url('../images/icon_link.png') no-repeat left center;
  background-size: 16rem 16rem;
}
.cont-aside__score {
  padding-left: 20rem;
  font-family: "Source Code Pro";
  font-size: 12em;
  color: #838489;
  background: url('../images/icon_score.png') no-repeat left center;
  background-size: 14rem 14rem;
  vertical-align: middle;
}
.list-item.open .btn-dropdown{
  background: url('../images/btn_drop-down.png') no-repeat 100%;
  background-size: cover;
  transform: rotate(0deg);
}
.list-item.open .list-item__commnet {
  display:  block;
}