.daily-wrap {
  padding: 20em 20em 0 20em;
}
.daily-title {
  font-family: 'Product Sans B';
  font-size: 28em;
  color:#fff;
}
.daily-list-wrap{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: scroll;
}
.daily-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  width: 100%;
  margin-top: 24em;
  background-color: #2C2D32;
  border-radius: 6em;
}
.daily-list + .daily-list{
  margin-left: 20em;
}
.daily-list__header {
  padding: 16em;
}
.daily__user-rank {
  font-size: 10em;
}
.daily-list__name {
  display: block;
  margin-top:5rem;
  font-size: 12em;
  color: #fff;
}
.daily-list__tit {
  margin-top: 10rem;
  color: #fff;
  font-family: 'Product Sans B';
  font-size: 26em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.daily-list__time {
  display: block;
  margin-top: 8em;
  font-family: 'Source Code Pro';
  color: #838489;
}