.detail {
  position: relative;
}
.detail__header {
  padding-top: 36em;
}
.detail__user-name {
  display: block;
  margin-top: 3rem;
  color: #fff;
  font-size: 24em;
  font-weight: normal;
}
.detail__post-time {
  display: block;
  padding-top: 2rem;
  font-family: 'Source Code Pro';
  font-size: 12em;
  color: #838489;
}
.detail__title {
  margin-top: 20rem;
  font-family: 'Product Sans B';
  font-size: 30em;
  color: #fff;
  line-height: 1.4;
}
.detail__desc {
  margin-top: 20rem;
  padding-bottom: 130rem;
  font-family: 'Roboto';
  font-size: 16em;
  line-height: 1.5;
  color: #CECFD4;
}
.detail__desc * {
  white-space: inherit;
}
.detail__inner::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130em;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  backdrop-filter: blur(1px);
}
.detail__btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 32em;
  width: calc(100% - 40rem);
  z-index: 1;
}
.detail__btn-wrap .detail__btn-commont {
  padding: 9rem 14rem;
  font-size: 16em;
  color: #fff;
  background: linear-gradient(90deg, #FF6B01 0%, #FF3F01 100%);
  border-radius: 18em;
}
.detail__btn-wrap .detail__btn-link {
  width: 52em;
  height: 36em;
  margin-left: 12rem;
  background: #fff url('../images/btn_detail-link.png') no-repeat center;
  background-size: 24rem 24rem;
  border-radius: 18em;
}